

# Documentation

## DailyQuestion returns non memorized and scheduled for now questions
Expected : A scheduled question non memorized

Unwanted : A memorized question