

# Documentation

## Prepared question has empty additional answers if they are no additional answers available
Expected : Additional answers attribute should be NULL