

# Documentation

## addStatistics updates the current row if there is already an existing row matching the current day
Unexpected : A new statistics row for the user, matching the current day
Expected : The current, but incremented