.AddCategory {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
  background: content-box no-repeat url("../images/addcategory.jpg");
  background-size: 100% 100%;

  &__form {
    padding: 16px;
    margin: 32px;
  }

  &__field {
    min-height: 60px;
    margin: 16px !important;
    display: flex;
    align-items: baseline;
  }
}


@media screen and (max-width: 767px) {

  .AddCategory {
    flex-direction: column;
    &__form {
      margin: 4em auto 1em;
    }

    &__field {
      min-height: initial;
      margin: initial !important;
    }
  }
}
