.Addknowledge {
    padding: 4%;

    &__title {
        margin-bottom: 16px;
        text-align: center;
    }

    &__form {
        padding: 16px;
        min-height: 500px;
        min-width: 400px;
        height: 30vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__radiogroup {
        display: flex;
        justify-content: center;
        flex-direction: row !important;
    }
}