.Addknowledge {

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: content-box no-repeat url("../images/add.jpg");
    background-size: 100% 100%;

    &__title {
        text-align: center;
        margin-bottom: 16px;
        color: white;

        @include for-phone-only {
            margin-top: 16px;
            margin-bottom: initial;
            font-size: 0.8em;
        }
    }

    &__body {
        @include for-phone-only {
            margin-top: 16px !important;
        }
    }

    &__form {
        padding: 16px;
        min-height: 500px;
        min-width: 400px;
        max-width: 60%;
        height: 30vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__radiogroup {
        display: flex;
        justify-content: center;
        flex-direction: row !important;
        max-height: 6em;
        overflow: auto;
    }

    &__import-drop-zone {
        border: dashed 2px #685a20;
        cursor: pointer;
        max-width: 500px;
    }

    &__questions-group {
        display: flex;
        text-align: center;
        flex-direction: column;
        overflow: auto;
    }

    @media screen and (max-width: 767px) {

        &__form {
            min-width: initial;
            max-width: 90vw;
        }

        &__import-drop-zone {
            max-width: 250px;
        }

        &__radiogroup {
            overflow-x: auto;
            width: 100%;
            flex-wrap: nowrap !important;
            justify-content: flex-start !important;
        }
    }
}
