.Button {
    min-width: 100px;
    margin: 8px;

    width: 250px;

    &--secondary {
        color: grey !important;
        outline: none;
        border: none;
        -webkit-appearance: inherit;
    }

    &--big {
        padding: 16px;
    }

    &--small {
        width: 150px;
    }

    @media screen and (max-width: 767px) {
        &--big {
            padding: 8px;
        }

        &--small {
            width: 140px;
        }
    }
}
