.Button {
    min-width: 100px;
    margin: 8px;

    width: 250px;

    &--secondary {
        color: grey;
        outline: none;
        border: none;
        -webkit-appearance: inherit;
        background: white;

        &:hover {
            background: white;
            color: #9c9c9c;
        }
    }

    &--big {
        padding: 16px;
    }

    &--small {
        width: 150px;
    }

    &--disabled {
        pointer-events: none;
    }

    &--inactive {
        background-color: grey !important;
        border-color: grey !important;
    }

    @media screen and (max-width: 767px) {
        &--big {
            padding: 8px;
        }

        &--small {
            width: 140px;
        }
    }
}
