.Changelogs {
  height: 100vh;
  background: url("../images/changelogsBackground.jpg") no-repeat center;
  background-size: 100%;

  &__title {
    text-align: center;
    margin-bottom: 16px;
    color: white;
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    &-actions {
      padding: 8px;
    }
  }

  &__list {
    height: 85%;
    overflow: auto;
    padding: 16px;
  }

  &__log {
    margin: 16px;
    padding: 16px;
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-column-gap: 8px;

    &-like-section {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__like-icon-link {
    margin-right: 4px;
    cursor: pointer;

    .Changelogs__like-icon {

      .Icon {
        font-size: initial;

        &:before {
          color: #565961;
        }
      }
    }

    &--liked {
      .Changelogs__like-icon {

        .Icon {
          font-size: initial;

          &:before {
            color: #044fd8;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .Changelogs {
    &__tabs {
      flex-direction: column;
    }

    &__list {
      height: 60%;
    }
  }
}


.AddChangelog {
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;
    min-width: 500px;
  }

  &__field {
    min-width: 300px !important;
    min-height: 100px;
  }
}
