.Changelogs {
  height: 100%;
  margin-top: 16px;

  &__title {
    text-align: center;
    margin-bottom: 16px;
    color: white;
    margin-top: 8px;
  }

  &__list {
    height: 89%;
    overflow: auto;
  }

  &__log {
    padding: 16px;
    margin: 16px;
  }
}

.AddChangelog {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  &__form {
    padding: 16px;
  }

  &__field {
    min-height: 60px;
  }
}
