.Changelogs {
  height: 100%;
  margin-top: 16px;

  &__title {
    text-align: center;
    margin-bottom: 16px;
    color: white;
    margin-top: 8px;
  }

  &__list {
    height: 89%;
    overflow: auto;
  }

  &__log {
    margin: 16px;
    padding: 16px;
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-column-gap: 8px;

    &-like-section {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__like-icon-link {
    margin-right: 4px;
    cursor: pointer;

    .Changelogs__like-icon {

      .Icon {
        font-size: initial;

        &:before {
          color: #565961;
        }
      }
    }

    &--liked {
      .Changelogs__like-icon {

        .Icon {
          font-size: initial;

          &:before {
            color: #044fd8;
          }
        }
      }
    }
  }
}

.AddChangelog {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  &__form {
    padding: 16px;
  }

  &__field {
    min-height: 60px;
  }
}
