.Home {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.MuiSnackbarContent-message {
    width: 100%;
}

.Home__snackbar {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .Home__snackbar-score {

    }
}

.Home__title {
    text-align: center;
}

.jumbotron {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2rem 2rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

@media screen and (max-width: 600px) {
    .Home__title {
        margin:  initial;
    }
    h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }
}