.App {
    background: content-box no-repeat url("../images/soft.jpg");
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Home {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100%;
    overflow: auto;

    &--no-question {
        color: white;
    }

    &__snackbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__title {
        text-align: center;
        color: white;
        width: 100%;
    }

    &__QuestionCard-row {
        padding: 16px;

        opacity: 0;
        transform: scale(1.15);
        animation: appear 0.25s 0.5s forwards;
    }

    .daily_progress {
        max-width: 300px;
        margin: auto;
    }
}

.container {
    margin: 60px 0 0;
    padding: 0;
}

.MuiSnackbarContent-message {
    width: 100%;
}

.jumbotron {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.Title {
    font-size: 24px;
}

.jumbotron {
    background-color: #686868;
    color: white;
}

@media screen and (min-width: 768px) {
    .hide_on_medium {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .App {
        background-size: cover;
    }

    .container {
        max-width: 768px;
    }

    /**
        SOFT TRAINING
     */
    .daily_progress {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;

        .daily-progress__counter {
            text-align: center;
            margin-bottom: 0.2rem;
            color: white;
        }
    }

    /**
    GENERAL PROPERTIES
     */

    .row {
        margin: 0;
    }

    .hide_on_small {
        display: none;
    }

    .Home__title {
        margin:  initial;
    }

    .Welcome__title {
        h1 {
            text-align: center;
        }
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1.12em;
    }

    .jumbotron {
        padding: 0.7rem 0.7rem;
    }
}


@keyframes appear {
    from {
        transform: scale(1.15);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
