.Home {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.MuiSnackbarContent-message {
    width: 100%;
}

.Home__snackbar {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .Home__snackbar-score {

    }
}

.Home__title {
    text-align: center;
}

.jumbotron {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.Title {
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .hide_on_medium {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    /**
        SOFT TRAINING
     */
    .daily_progress {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 60%;
        margin: auto;

        .daily-progress__counter {
            text-align: center;
            margin-bottom: 0.2rem;
        }
    }

    /**
    GENERAL PROPERTIES
     */

    .hide_on_small {
        display: none;
    }

    .Home__title {
        margin:  initial;
    }

    .Welcome__title {
        h1 {
            text-align: center;
        }
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    h3 {
        font-size: 1.12em;
    }

    .jumbotron {
        padding: 0.7rem 0.7rem;
    }
}