.Navbar {

  &__nav {
    z-index: 1;
    display: flex;
    justify-content: space-between;

    width: 100%;
    position: absolute;
    background-color: #ffffff00 !important;
    overflow-x: hidden;
  }

  &__home-link {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__logo {
    margin: 0 8px;
  }

  &__item {
    margin: 0 8px;
    font-size: 1.3em;
  }

  &__item-profile-icon:before {
    font-size: 3em;
  }

  &___item-profile-icon-link {
    margin-right: 8%;
  }

  &__toggler, &__toggler-wide {
    outline: none;
    border: none;
    background: transparent;
    margin: 0 16px;
    font-size: 36px;

    .Icon {
      color: white;
    }
  }

  &__item-profile-container {
    flex-direction: column;
  }

  &__item-profile {
    display: flex;
    align-items: center;
    margin-left: 32px;

    &-score {
      display: block;
      font-size: 1.5em;
      text-align: center;

      &-counter {
        color: white;
        transition: all 0.15s ease;

        &-rising {
          color: green;
          transition: all 0.15s ease;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .Navbar__toggler-wide {
    display: none;
  }

  .Navbar__counter {
    font-size: 0.75em;
  }

  .Navbar__home-link {
    margin-right: 0;
  }

  .Navbar__item-profile {
    margin-left: 0;

    &-icon {
      font-size: 0.75em;
    }
  }

  .Navbar__toggler {
    margin: 0;
    padding: 0;
    .Icon {
      font-size: 0.75em;
    }
  }

  .Navbar__logo {
    img {
      width: 32px;
      height: 32px;
    }

    &-text {
      display: none;
    }
  }

  .Navbar__item-profile {
    position: relative;

    &-score {
      position: absolute;
      font-size: 0.8em;
      transform: translate(50%, -50%);
      top: 50%;
      right: 50%;
    }
  }
}

