.Navbar {

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__home-link {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__logo {
        margin: 0 8px;
    }

    &__item {
        margin: 0 8px;
        font-size: 1.3em;
    }

    &__item-profile-icon:before {
        font-size: 3em;
    }

    &___item-profile-icon-link {
        margin-right: 8%;
    }

    &__toggler, &__toggler-wide {
        outline: none;
        border: none;
        background: transparent;
        margin: 0 16px;
        font-size: 36px;
    }

    &__item-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 32px;

        &-score {
            display: block;
            font-size: 1.5em;
        }

        .Navbar__counter {
            color: initial;
            transition: all 0.15s ease;
            font-size: 1.5em;

            &-rising {
                color: green;
                font-size: 2.5em;
                transition: all 0.15s ease;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .Navbar__toggler-wide {
        display: none;
    }
}
