.Profile {

  &__title {
    border-radius: 0;
    padding: 1.5rem;
  }

  &__chart-zone {
    padding: 12px;
    background-color: #dedede;
  }

  &__memorized-questions {
      display: grid;
      grid-template-columns: 3fr 1fr;

    &-title {
      margin-left: 16px;
      margin-top: 16px;
    }

    .Profile__memorized-question {
      margin: 16px;
      padding: 16px;

      &-details {
        justify-self: center;
        &--memorized {
          color: green;
        }

        &--not-memorized {
          color: orange;
        }
      }

      &-info {
        display: grid;
        grid-template-columns: 300px 1fr;
        font-weight: 600;
      }
    }
  }

}
