.Profile {

  &__title {
    border-radius: 0;
    padding: 1.5rem;
  }

  &__heading-row {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
  }

  &__questions {
    display: grid;
    grid-template-columns: 3fr 1fr;

    &-title {
      margin-left: 16px;
      margin-top: 16px;
    }

    .Profile__questions-container {
      margin: 16px;
      padding: 16px;

      .Profile__question {
        border-bottom: solid 2px #cecece;
        margin: 12px 0;

        &-info {
          display: grid;
          grid-template-columns: 300px 1fr;
          font-weight: 600;

          &--header {
            border-bottom: solid 2px #cecece;
          }
        }
        &-details {
          justify-self: center;

          &--memorized {
            color: green;
          }

          &--not-memorized {
            color: orange;
          }
        }
      }
    }
  }

}
