.Profile {
  &__chart-zone {
    padding: 12px;
    background-color: #dedede;
  }

  &__memorized-questions {
      display: grid;
      grid-template-columns: 1fr 1fr;

    .Profile__memorized-question {
      margin: 16px;
      padding: 16px;
    }
  }

}
