.QuestionsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__content {
    margin: 90px 0 0;
    width: 100%;
  }

  &__global-checker {
    text-align: center;
  }

  &__list {
    width: 100%;
  }

  &__title {
    text-align: center;
    width: 100%;
  }

  &__question {
    display: grid;
    grid-template-columns: 70px 8fr 128px;
  }

  .Icon__badge {
    position: initial;
  }

  &__question-wording {
    margin: 0 4px;
  }

  &__question-answer {
    margin: 0 4px;
  }

  .QuestionsListItem {
    &__delete-button {
      background-color: #c13c2b !important;
      margin: 0 8px !important;
      padding: 4px;
      width: 48px;
      height: 48px;
    }

    &__toggle-button {
      padding: 4px;
      width: 48px;
      height: 48px;
    }

    &__delete-icon {
      color: white;
    }
  }


  &__actions {
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .QuestionsListItem__actions {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 767px) {

    .MuiFormControlLabel-root {
      margin: 0;
    }

    .Button {
      margin: 4px;
    }

    &__title {
      margin: 0;
    }

    &__question {
      grid-template-columns: 2fr 80px;
      margin: 4px 0;
    }

    .QuestionsListItem {
      &__delete-button, &__toggle-button {
        width: 24px;
        height: 24px;
      }

      &__delete-button {
        font-size: 1rem !important;
        padding: 0 !important;
      }
    }

    .Icon__badge {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -8px;
    }

    &__collapsible-trigger {
      text-align: center;
      cursor: pointer;
      display: inline-block;
      font-size: 1.3em;
    }

    &__question-wording, &__question-answer {
      margin-left: 0;
    }
  }
}
