.QuestionCard {
    padding: 32px 16px;
    margin: 16px;
    width: 500px;
    min-height: 600px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    position: relative;

    &__question {
        text-align: center;

        &--is-empty {
            color: grey;
        }
    }

    &--golden__icon{
        left: -24px;
        color: goldenrod;
    }

    &--new__icon {
        color: mediumspringgreen;
        left: 36px;
    }

    &--new__icon {
        color: blueviolet;
    }

    &--category__icon {
        color: mediumspringgreen;
        right: -24px;
    }

    .Icon__container {
        top: -24px;
        border: solid 1px;
        position: absolute;
        box-shadow: 0.2rem 0.325rem 0.25rem rgba(0,0,0,0.175)!important;
        background: white;
    }

    @media screen and (max-width: 767px) {
        width: initial;
        min-height: initial;
        height: 65vh;
        padding: 8px;


    }
}
