.QuestionsList {
  background: content-box no-repeat url("../images/questions.jpg");
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  &__content {
    height: 100%;
    width: 100%;
  }

  &__global-checker {
    text-align: center;
    background: white;
  }

  &__form {
    width: 100%;
    overflow-y: auto;
  }

  &__title {
    text-align: center;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: white;
  }

  &__questions-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__question {
    opacity: 0;
    animation: appear 0.25s forwards;
    display: grid;
    grid-template-columns: 70px 8fr 128px;

    margin: 16px;
    padding: 32px;
  }

  .Icon__badge {
    position: initial;
  }

  &__question-wording {
    margin: 0 4px;
  }

  &__question-answer {
    margin: 0 4px;
  }

  .QuestionsListItem {
    &__delete-button {
      background-color: #c13c2b !important;
      margin: 0 8px !important;
      padding: 4px;
      width: 48px;
      height: 48px;
    }

    &__toggle-button {
      padding: 4px;
      width: 48px;
      height: 48px;
    }

    &__delete-icon {
      color: white;
    }
  }


  &__actions {
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .QuestionsListItem__actions {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    height: calc(100% - 30px);

    .MuiFormControlLabel-root {
      margin: 0;
    }

    .Button {
      margin: 4px;
      width: initial;
    }

    &__title {
      margin: 0;
    }

    &__list {
      padding: 8px;
      margin-bottom: 0;
    }

    &__questions-container {
      grid-template-columns: 1fr;
    }

    &__question {
      grid-template-columns: none;
      grid-template-rows: 2fr 1fr;
      margin: 12px 0;
      padding: 8px 0;
      min-height: 200px;
    }

    .QuestionsListItem {
      &__delete-button, &__toggle-button {
        width: 32px;
        height: 32px;
      }

      &__delete-button {
        font-size: 1rem !important;
        padding: 0 !important;
      }

      &__actions {
        justify-content: space-around;
      }
    }

    &__question-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 8px 0;
    }

    .Icon__badge {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -8px;
    }

    &__collapsible-trigger {
      text-align: center;
      cursor: pointer;
      display: inline-block;
      font-size: 1.3em;
    }

    &__question-wording, &__question-answer {
      margin-left: 0;
    }

    &__question-score, &__question-next, &__has-reverse-text {
      color: grey;
      font-size: 11px;
    }
  }
}



@keyframes appear {
  from {
    transform: scale(1.15);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
