.QuestionRow {
  padding: 4px;

  &__question {
    font-size: 1.25em;

    &-icon {
      margin-left: 8px;
    }
  }

  &--success {
    background-color: lightgreen;
    pointer-events: none;
  }

  &--failed {
    background-color: palevioletred;
    pointer-events: none;
  }
}