.QuestionCard {
    padding: 16px;
    margin: 16px;
    width: 500px;
    min-height: 600px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    position: relative;

    &__question {
        text-align: center;

        &--is-empty {
            color: grey;
        }
    }

    &__actions {

    }

    &--golden {
        &__icon {
            color: goldenrod;
            justify-self: start;
            background: white;
            border: solid 1px;

            position: absolute;
            top: -24px;
            left: -24px;

            box-shadow: 0.2rem 0.325rem 0.25rem rgba(0,0,0,0.175)!important;
        }
    }

    @media screen and (max-width: 600px) {
        width: initial;
    }
}
