.RoughTraining {
  background: content-box no-repeat url("../images/roughtraining.jpg");
  background-size: 100% 100%;

  &__container {
    height: 100vh;
    padding-top: 1em;
    margin: auto;
  }

  &__score {
    text-align: center;

    .RoughTraining__failed {
      color: darkred;
    }

    .RoughTraining__success {
      color: forestgreen;
    }
  }

  &__questions {
    height: 90%;
    overflow-y: auto;

    display: grid;
    grid-template-rows: 160px;
    grid-row-gap: 8px;
  }

  &__action {
    margin-left: 0 !important;
  }
}