.RoughTraining {
  height: 100vh;
  padding-top: 6em;

  &__score {
    text-align: center;

    .RoughTraining__failed {
      color: darkred;
    }

    .RoughTraining__success {
      color: forestgreen;
    }
  }

  &__questions {
    height: 100%;
    overflow-y: auto;

    display: grid;
    grid-template-rows: 160px;
    grid-row-gap: 8px;
  }
}