.Snackbar {
    &-success {
        background-color: #267c44 !important;
    }

    &-failure {
        background-color: #685a20 !important;
    }

    &__score {
        margin: 0 8px;
    }

    &__message {
        display: flex;
        justify-content: space-between;
    }
}