.Welcome {
  min-height: 100vh;
  background-color: #2f2f2f;
  color: white;

  &__title {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 16px;
  }

  &__presentation-section {
    background: content-box no-repeat url("../images/pencils.jpg");
    height: 90vh;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Welcome__presentation-title {
      opacity: 0;
      transform: scale(1.25);
      animation: appear 0.5s 0.5s forwards;
      text-align: center;
    }
  }

  &__easy-learning-section {
    background: content-box no-repeat url("../images/easy-learning-background.jpg");

    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .Welcome__easy-learning-title {
      opacity: 0;
      transform: scale(1.25);
      font-size: 3em;
      text-align: center;
      animation: appear 2s 0.5s forwards;
    }
  }

  &__text {

  }
}

@media screen and (max-width: 767px) {

  .Welcome {

    &__title {
      h1 {
        width: 80%;
        margin: auto;
      }
    }
  }
}

@keyframes appear {
  from {
    transform: scale(1.25);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
