.ProfileAchievement {
  display: grid;
  grid-template-columns: auto 50px 1fr 1fr;
  padding: 16px 16px;
  height: 100px;
  align-items: center;

  cursor: pointer;
  transition: background-color 250ms;

  @include for-phone-only {
    grid-template-columns: none;
    grid-template-rows: 50px 50px 50px 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 128px;
  }

  &:hover {
    transition: background-color 250ms;
    background-color: #d2d2d2;
  }

  &__details-trigger {
    font-size: 1.25em;
  }

  &--current {
    .ProfileAchievement__circle {
      border: solid orange;
      &-icon {
        color : orange;
      }
    }

  }

  &--achieved {
    .ProfileAchievement__circle {
      border: solid limegreen;

      &-icon {
        color : limegreen;
      }
    }
  }

  &__circle {
    border: solid grey;
    border-radius: 100px;
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;

    @include for-phone-only {
      justify-self: center;
    }
  }
}
