.ProfileAchievements {
  border-radius: 8px;
  padding: 8px;

  display: grid;
  grid-template-rows: 50px 1fr;

  box-shadow: $card-box-shadow;
  text-align: center;
  background-color: white;

  &__header {
    @include for-phone-only {
      font-size: 1.5em;
    }
  }

  &__progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}