.ProfileDailyObjective {
  border-radius: 8px;
  padding: 8px;

  box-shadow: $card-box-shadow;
  text-align: center;
  background-color: white;
  position: relative;

  @include for-phone-only {
    height: 240px;
    margin: 8px;
  }

  &__header {
    @include for-phone-only {
      font-size: 1.5em;
    }
  }

  &__body {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-text {
      z-index: 2;
      font-size: 1.5em;
      font-weight: 600;

      @include for-phone-only {
        font-size: 1em;

      }
    }

    &-action {
      z-index: 2;
    }
  }

  &__illustration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    width: 100%;
    z-index: 1;
  }
}