.ProfileAchievements {
  border-radius: 8px;
  padding: 8px;

  box-shadow: $card-box-shadow;
  text-align: center;
  background-color: white;

  &__header {
    @include for-phone-only {
      font-size: 1.5em;
    }
  }

  &__progress {
    &-step {
      display: grid;
      grid-template-columns: auto 1fr 1fr;
      margin: 64px 16px;
      height: 32px;
      align-items: center;

      @include for-phone-only {
        grid-template-columns: none;
        grid-template-rows: 50px 50px 50px;
        align-items: center;
        justify-content: center;
        margin-bottom: 168px;
      }

      &--current {
        .ProfileAchievements__progress-step-circle {
          border: solid orange;
        }
      }

      &--achieved {
        .ProfileAchievements__progress-step-circle {
          border: solid limegreen;
        }
      }

      &-circle {
        border: solid grey;
        border-radius: 100px;
        width: 60px;
        height: 60px;

        @include for-phone-only {
          justify-self: center;
        }
      }
    }
  }
}